{
  "presets": [
    "es2015",
    "react", 
    "es2017", 
    "stage-0"
  ],
  "only": ["*.js", "*.jsx"],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
